$prmiarycol: hsla(0, 0%, 100%, 0.75);
$part1col: hsl(31, 77%, 52%);
$part2col: hsl(184, 100%, 22%);
$part3col: hsl(179, 100%, 13%);
$white: hsl(0, 0%, 95%);

@mixin button($color) {
  width: 150px;
  height: 45px;
  border-radius: 25px;
  margin-top: 35px;
  background-color: white;
  transition: 1s;
  border: 2px solid transparent;
  color: $color;
  &:hover {
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 2px solid white;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#content {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  justify-content: center;
  align-content: center;
  color: $white;

  #part1 {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: $part1col;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;

    button {
      @include button($part1col);
    }

    h1 {
      text-transform: uppercase;
      font-family: 'Big Shoulders Display', cursive;
    }

    p {
      margin: 20px 0px;
      font-size: 16px;
      font-weight: 300;
      line-height: 26px;
    }
  }
  #part2 {
    @extend #part1;
    background-color: $part2col;
    border-radius: 0;

    button {
      color: $part2col;
    }
  }
  img {
    max-width: 50px;
  }
  p {
    font-size: 20px;
  }

  #part3 {
    @extend #part1;
    background-color: $part3col;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;

    button {
      color: $part3col;
    }
  }
}
